@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--font-sans: "inter", system-ui, "sans-serif";
	--color-error: #ff3f58;
	--color-bg-1: #000000;
	--color-bg-2: #070707;
	--color-bg-3: #24293a;
	--color-fg-1: #f5fbfe;
	--color-fg-2: #dddee3;
	--color-icy-white: #eaf3fa;
	--color-icy-blue: #acc9de;
	--color-brand-1: #d40028;
	--color-brand-2: #d77a3f;
	--color-brand-3: #3bc1e7;
	--color-brand-4: #5306d8;
	--color-brand-5: #fede17;
	--color-brand-6: #4056bc;
	--color-foreground: var(--color-fg-1);
	--color-background: var(--color-bg-1);
	--background-image-gr-bg-1-b: linear-gradient(
		to bottom,
		var(--color-bg-1),
		var(--color-bg-2)
	);
	--background-image-gr-brand-main: linear-gradient(
		to right,
		var(--color-brand-2),
		var(--color-brand-1)
	);
	--background-image-gr-icy: linear-gradient(
		to bottom,
		var(--color-icy-white),
		var(--color-icy-blue)
	);
	--background-image-gr-icy-r: linear-gradient(
		to right,
		var(--color-icy-white),
		var(--color-icy-blue)
	);
	--background-image-bg-gr-1: linear-gradient(
		to bottom,
		var(--color-bg-1),
		var(--color-bg-2)
	);
	--background-image-gr-main-1-r: linear-gradient(
		to right,
		var(--color-brand-1),
		var(--color-brand-2)
	);
	--background-image-gr-main-2-l: linear-gradient(
		to left,
		var(--color-brand-1),
		var(--color-brand-3)
	);
	--background-image-gr-main-3-l: linear-gradient(
		to left,
		var(--color-brand-3),
		var(--color-brand-4)
	);
	--background-image-gr-main-4-l: linear-gradient(
		to left,
		var(--color-brand-1),
		var(--color-brand-5)
	);
	--background-image-gr-project-btn: linear-gradient(
		to right,
		var(--color-bg-3),
		var(--color-bg-2),
		var(--color-brand-2),
		var(--color-brand-1)
	);
	--typescale: 1.333;
	--text-p: 1rem;
	--text-s: calc(var(--text-p) / var(--typescale));
	--text-h6: calc(var(--text-p) * var(--typescale));
	--text-h5: calc(var(--text-h6) * var(--typescale));
	--text-h4: calc(var(--text-h5) * var(--typescale));
	--text-h3: calc(var(--text-h4) * var(--typescale));
	--text-h2: calc(var(--text-h3) * var(--typescale));
	--text-h1: calc(var(--text-h2) * var(--typescale));
	--animate-slide-fade-in: slide-fade-in 500ms ease-in-out;
	--animate-slide-in: slide-in 500ms ease-in;
	--animate-expand: expand 300ms ease-in;
	--animate-pinch: pinch 300ms ease-in;
	--animate-button-in-plain: button-in-plain 500ms ease-in;
	--animate-button-in: button-in 500ms ease-in;
	--animate-button-out-plain: button-out-plain 500ms ease-out;
	--animate-button-out: button-out 500ms ease-out;
	--animate-button-icon-in: button-icon-in 500ms ease-in;
	--animate-button-icon-out: button-icon-out 500ms ease-out;

	@keyframes slide-fade-in {
		0% {
			opacity: 0.5;
			translate: 0 4%;
		}

		75% {
			translate: 0 -2%;
		}

		to {
			opacity: 1;
			translate: 0 0;
		}
	}

	@keyframes slide-in {
		0% {
			opacity: 0.75;
			translate: 0 4%;
		}

		75% {
			translate: 0 -2%;
		}

		to {
			translate: 0 0;
		}
	}

	@keyframes expand {
		from {
			scale: 50% 100%;
		}

		to {
			scale: 100% 100%;
		}
	}

	@keyframes pinch {
		0% {
			scale: 200% 100%;
			border-radius: 4px;
		}

		100% {
			scale: 100% 100%;
			border-radius: 50%;
		}
	}

	@keyframes button-in-plain {
		from {
			background-position: 0;
		}

		to {
			background-position: 100%;
		}
	}

	@keyframes button-in {
		from {
			border-radius: 4px;
			background-position: 0;
		}

		to {
			border-radiues: 16px;
			background-position: 100%;
		}
	}

	@keyframes button-out-plain {
		from {
			background-position: 100%;
		}

		to {
			background-position: 0;
		}
	}

	@keyframes button-out {
		from {
			border-radius: 16px;
			background-position: 100%;
		}

		to {
			border-radiues: 4px;
			background-position: 0;
		}
	}

	@keyframes button-icon-in {
		from {
			translatex: 0;
			scale: 100%;
		}

		to {
			translatex: 8px;
			scale: 150%;
		}
	}

	@keyframes button-icon-out {
		from {
			translatex: 8px;
			scale: 150%;
		}

		to {
			translatex: 0;
			scale: 100%;
		}
	}

	@keyframes expand-down {
		from {
			scale: 100% 0;
		}

		to {
			scale: 100% 100%;
		}
	}
}

@layer base {
	@font-face {
		font-family: "inter";
		src: url("./assets/fonts/inter/inter-v.woff2") format("woff2");
	}

	@font-face {
		font-family: "inter";
		src: url("./assets/fonts/inter/inter-v-italic.woff2") format("woff2");
		font-style: italic;
	}

	.icon {
		@apply bg-center bg-no-repeat transition-all
		before:h-full before:w-full before:bg-size-[50%] 
		before:bg-center before:bg-no-repeat hover:before:scale-105;
	}

	.icon-full {
		@apply bg-center bg-no-repeat transition-all
		before:h-full before:w-full before:bg-size-[100%] 
		before:bg-center before:bg-no-repeat hover:before:scale-105;
	}

	.play-icon {
		@apply before:bg-[url(./assets/images/play-icon.svg)] before:content-[""];
	}

	.pause-icon {
		@apply before:bg-[url(./assets/images/pause-icon.svg)] before:content-[""];
	}

	.back-arrow-icon {
		@apply before:bg-[url(./assets/images/arrow-icon.svg)] before:content-[""];
	}

	.forward-arrow-icon {
		@apply rotate-180 before:bg-[url(./assets/images/arrow-icon.svg)]
		before:content-[""];
	}

	.visit-arrow-icon {
		@apply before:bg-[url(./assets/images/visit-arrow-icon.svg)]
		before:content-[""];
	}

	.scrollbar-hidden::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		background: transparent;
	}

	.pinch-up {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transform: scaleY(0);
		transform-origin: top;
		transition:
			max-height 600ms ease-out,
			transform 600ms ease-in,
			opacity 600ms ease-in;
	}

	.expand-down {
		opacity: 1;
		max-height: 150%;
		overflow: hidden;
		transform: scaleY(1);
		transform-origin: top;
		transition:
			max-height 300ms ease-in,
			transform 300ms ease-in,
			opacity 300ms ease-in;
	}

	.rotate-contribution-active {
		transform: rotate(90deg);
		transition: transform 500ms ease;
	}

	.rotate-contribution-active:hover {
		transform: rotate(90deg) translateX(-4px) scale(1.1);
		transition: transform 500ms ease;
	}

	.rotate-contribution {
		transform: rotate(0);
		transition: transform 500ms ease;
	}

	.rotate-contribution:hover {
		transform: rotate(0) translateX(-8px) scale(1.1);
		transition: transform 500ms ease;
	}

	.scrollbar::-webkit-scrollbar {
		width: 0.3vw;
		height: 0.3vh;
	}

	.scrollbar::-webkit-sccrollbar-track {
		background-color: var(--color-bg-2);
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: var(--color-brand-1);
		border-radius: 8px;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--color-brand-3);
	}
}

body {
	background-color: var(--color-bg-1);
	color: var(--color-fg-1);
}

input:focus-visible {
	outline-color: var(--color-brand-3);
}
