@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--font-sans: "inter", system-ui, "sans-serif";
	--color-bg-1: #000000;
	--color-bg-2: #070707;
	--color-fg-1: #f5fbfe;
	--color-fg-2: #dddee3;
	--color-foreground: var(--color-fg-1);
	--color-background: var(--color-bg-1);
	--background-image-bg-gr-1: linear-gradient(
		to bottom,
		var(--color-bg-1),
		var(--color-bg-2)
	);
}

base {
	@font-face {
		font-family: "inter";
		src: url("/fonts/inter/inter-v.woff2") format("woff2");
	}
}

body {
	background-color: var(--color-bg-1);
	color: var(--color-fg-1);
}
