@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--font-sans: "inter", system-ui, "sans-serif";
	--color-bg-1: #000000;
	--color-bg-2: #070707;
	--color-bg-3: #24293a;
	--color-fg-1: #f5fbfe;
	--color-fg-2: #dddee3;
	--color-icy-white: #eaf3fa;
	--color-icy-blue: #acc9de;
	--color-brand-1: #d40028;
	--color-brand-2: #d77a3f;
	--color-brand-3: #3bc1e7;
	--color-brand-4: #5306d8;
	--color-brand-5: #fede17;
	--color-brand-6: #4056bc;
	--color-foreground: var(--color-fg-1);
	--color-background: var(--color-bg-1);
	--background-image-gr-brand-main: linear-gradient(
		to right,
		var(--color-brand-2),
		var(--color-brand-1)
	);
	--background-image-gr-icy: linear-gradient(
		to bottom,
		var(--color-icy-white),
		var(--color-icy-blue)
	);
	--background-image-gr-icy-r: linear-gradient(
		to right,
		var(--color-icy-white),
		var(--color-icy-blue)
	);
	--background-image-bg-gr-1: linear-gradient(
		to bottom,
		var(--color-bg-1),
		var(--color-bg-2)
	);
	--background-image-gr-main-1-r: linear-gradient(
		to right,
		var(--color-brand-1),
		var(--color-brand-2)
	);
	--background-image-gr-main-2-l: linear-gradient(
		to left,
		var(--color-brand-1),
		var(--color-brand-3)
	);
	--background-image-gr-main-3-l: linear-gradient(
		to left,
		var(--color-brand-3),
		var(--color-brand-4)
	);
	--background-image-gr-main-4-l: linear-gradient(
		to left,
		var(--color-brand-1),
		var(--color-brand-5)
	);
	--typescale: 1.333;
	--text-p: 1rem;
	--text-h6: calc(var(--text-p) * var(--typescale));
	--text-h5: calc(var(--text-h6) * var(--typescale));
	--text-h4: calc(var(--text-h5) * var(--typescale));
	--text-h3: calc(var(--text-h4) * var(--typescale));
	--text-h2: calc(var(--text-h3) * var(--typescale));
	--text-h1: calc(var(--text-h2) * var(--typescale));
	--animate-slide-fade-in: slide-fade-in 500ms ease-in-out;
	--animate-slide-in: slide-in 500ms ease-in;
	--animate-expand: expand 300ms ease-in;
	--animate-pinch: pinch 300ms ease-in;

	@keyframes slide-fade-in {
		0% {
			opacity: 0.5;
			translate: 0 4%;
		}

		75% {
			translate: 0 -2%;
		}

		to {
			opacity: 1;
			translate: 0 0;
		}
	}

	@keyframes slide-in {
		0% {
			opacity: 0.75;
			translate: 0 4%;
		}

		75% {
			translate: 0 -2%;
		}

		to {
			translate: 0 0;
		}
	}

	@keyframes expand {
		from {
			scale: 50% 100%;
		}

		to {
			scale: 100% 100%;
		}
	}

	@keyframes pinch {
		0% {
			scale: 200% 100%;
			border-radius: 4px;
		}

		100% {
			scale: 100% 100%;
			border-radius: 50%;
		}
	}
}

@layer base {
	@font-face {
		font-family: "inter";
		src: url("./assets/fonts/inter/inter-v.woff2") format("woff2");
	}

	@font-face {
		font-family: "inter";
		src: url("./assets/fonts/inter/inter-v-italic.woff2") format("woff2");
		font-style: italic;
	}

	.icon {
		@apply bg-center bg-no-repeat transition-all
		before:h-full before:w-full before:bg-size-[50%] 
		before:bg-center before:bg-no-repeat hover:before:scale-105;
	}

	.play-icon {
		@apply before:bg-[url(./assets/images/play-icon.svg)] before:content-[""];
	}

	.pause-icon {
		@apply before:bg-[url(./assets/images/pause-icon.svg)] before:content-[""];
	}

	.back-arrow-icon {
		@apply before:bg-[url(./assets/images/arrow-icon.svg)] before:content-[""];
	}

	.forward-arrow-icon {
		@apply rotate-180 before:bg-[url(./assets/images/arrow-icon.svg)]
		before:content-[""];
	}

	.scrollbar-hidden::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		background: transparent;
	}
}

body {
	background-color: var(--color-bg-1);
	color: var(--color-fg-1);
}
